input[type=text],
input[type=password],
input[type=email],
textarea {
    background: #FFF;
    border: 1px solid #D9D9D6;
    padding: 7px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border: 2px rgb(16, 16, 16) solid;
}

.text-center {
    text-align: center;
}

.row {
    margin: 0 15px;
}

.aut-1 {
    background: #448EF6;
}

.text-l {
    padding: 10px!important;
    font-size: 16px;
}

.widget {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 8px;
    padding: 14px;
    box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.22);
}

.autlv {
    font-size: 10px;
    color: #fff;
    display: inline-block;
    vertical-align: text-top;
    font-weight: normal;
    border-radius: 2px;
    line-height: 1.4;
    padding: 0 4px;
    margin-left: 5px;
    letter-spacing: 0px;
}

.section-title {
    font-size: 16px;
    color: #262626;
    line-height: 28px;
    padding-bottom: 15px;
    border-bottom: 0px solid #f2f2f2;
    position: relative;
    font-weight: 400;
    margin-bottom: 15px;
}

.w-100 {
    width: 100%;
}

.btn-l {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}